<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>


*{
        font-family: angsa, franklin;

}

/*********Cabecera***************/
h2{
    text-align: center;
}
header{
    background-image: url(../img/cabecera.png);
    height: 150px; */
}
/******************************/
/**********Menú****************/
#menu ul {
    list-style-type: none;
    background-color: #B3B3B3;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
    color: blue;
    overflow: hidden;
    border-width: 0.1px;
    border-bottom: solid;
    border-color: #808080;
}

#menu li {
    float: left;


}

#menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #333333;
    color: white;
}
#menu li a:focus {

}
/******************************/
/************Contenido*********/
iframe#video {
    margin-left: 40px;
}

iframe#lectura{
    width: 750px;
    height: 500px;
}



.contPrincipal{
    margin-left: 5%;
    margin-right: 5%;
    border-left: solid;
    border-right: solid;
    border-color: #F47920;
    margin-top: 10px;
    overflow: hidden;
}
section#Tema{
    width: 60%;
    float: left;
    margin: 10px;
}

aside#noticias {
    float: right;
    margin-right: 8px;
    width: 35%;
    background-color: #333333;
}
footer{
    position:fixed;
    background-color: #333333;
    margin-top: 5px;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    color: white;
    text-align: center;

}
h2{
    background-color: #333333;
    margin: 0;
    color: white;
}
h1{
    margin: 5px;
    text-align: center;
}
/*****menú derecho*****/
#menuDerecho ul{
        list-style-type: none;
        margin: 0;
        padding:0;
}
#menuDerecho li a{
    background-color: #808080;
    display: block;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-width: 0.5px;
    border-style: solid;
    border-color: #333333;
    border-radius: 5px;
}

#menuDerecho li ul{
    display:none;
    position: relative;
    right: -50px
}

#menuDerecho li a:hover {
    background-color: #333333;
    border-radius: 5px;
}

#menuDerecho li:hover > ul{
    display: block;
}
